<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">

    <script src="<%= static_path(@conn, "/js/material.min.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/material.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/material-grid.min.css") %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <main id="main_container" role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
