@import "base/variables";
@import "base/reset";

@import "base/base";

.app-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.app-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.app-header .mdl-layout__header-row {
  padding-left: 40px;
}
.app-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}
.app-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}
.app-layout.is-small-screen .app-content {
  padding: 40px 28px;
}
.app-content h3 {
  margin-top: 48px;
}
.app-footer {
  padding-left: 40px;
}
.app-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}
